%script{ src: :'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
%script{ src: :'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'}
%script{ src: :'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js'}

%script{ src: :'js/models/todoModel.js'}
%script{ src: :'js/collections/todoCollection.js'}
%script{ src: :'js/views/inputView.js'}
%script{ src: :'js/views/listView.js'}
%script{ src: :'js/views/todoView.js'}
%script{ src: :'js/app.js'}


%link{ rel: :'stylesheet', href: :'css/style.css' }

#container
  %header
    %img{src: 'https://d30y9cdsu7xlg0.cloudfront.net/png/9866-42.png?Expires=1402431192&Signature=ZcFt54t1xAEoTPaukoBrvrEI3PqgVjx~lwhuo5YtToqEwC6sgXSANb4pnzhy5dD22Uh-Xp20CWhj3VPTFLv27NjQHvQiL~2tsXGhY4ApQOD4TFLiNkBR0dDQcvI~r8AK33NPNviRbT6JCG61QlgyftUadcY-sJLSL3FR3aLjdvE_&Key-Pair-Id=APKAI5ZVHAXN65CHVU2Q'}
    %a{ href: '/', title: 'DontForgetThese!'} DontForgetThese
  #all-todos
    %h2 To-dos:
    #new-todo
      %input{ type: 'text', id: 'new-todo-description'}
      %button{ id: 'add-todo'} Add it


%script#todo-template{ type: :'text/template'}
  %div
    %h3.todo-text
    / %input{type: 'checkbox', checked:  |
    / = done ? 'checked' : "" }          |
    <input class='check' type='checkbox' <%= done ? 'checked = "checked"' : '' %>
    %span#todo-destroy X


/ %script#item-template{"type" => "text/template"}
/   <div class="todo <%= done ? 'done' : '' %>">
/   %div.display
/     <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
/     %div.todo-text
/     %span#todo-destroy
/   %div.edit
/     %input.todo-input{"type" => "text", "value" =>""}/
/   </div>


