%script{ src: :'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
%script{ src: :'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'}
%script{ src: :'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js'}
%script{ src: :'js/app.js'}
%link{ rel: :'stylesheet', href: :'css/style.css' }

#container
  %header
    #logo
    %h1 Welcome to
    %a{ href: '/', title: 'DontForgetThese!'} DontForgetThese!
  #main-body
    %h2 Here are your to-dos:
    #all-todos
    #new-todo
      %input{ type: 'text', id: 'new-todo-description'}
      %button{ id: 'add-todo'} Add it


%script{ type: :'text/template', id: :'todo-template'}
  %li
    /%h3= this.model.get('description')
    /%input{type: 'checkbox', checked: "#{this.model.get('status')}"}
    %span X
