-# CDNS
%script{ src: :'http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js'}
%script{ src: :'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js'}
%script{ src: :'http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js'}

-# BACKBONE
%script{ src: :'../js/models/todoModel.js'}
%script{ src: :'../js/collections/todoCollection.js'}
%script{ src: :'../js/views/inputView.js'}
%script{ src: :'../js/views/listView.js'}
%script{ src: :'../js/views/todoView.js'}
%script{ src: :'../js/app.js'}

-# STYLESHEETS
%link{ rel: :'stylesheet', href: :'//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css'}
%link{ rel: :'stylesheet', href: :'../css/style.css' }

%div#modal.hide-me
  #share-options.hide-me
    %div.fb-share-button{ "data-href"=>"http://dontforgetto.herokuapp.com"}
    %a{ href:"https://twitter.com/share", class: "twitter-share-button", "data-text" => "DontForgetThe.se (now i won't!)", "data-count"=>"none"}
%div#fb-root
%header
  %a{ href: '/', title: 'DontForgetTo!'}
    %i.fa.fa-ellipsis-h
    DontForgetTo
    - if params[:id] == 'demo'
      %a{ href: '/list', class: 'make-your-own'} Make your own!
    - else
      %a{class: 'share-list'} Share this list!

#keywords
  %h4 Complete Keyword List
  #keyword_list.hide-me
    %p Use any of these words to get the matching icon!
    - keyword_list.each do |keyword|
      = filter_for_icons(keyword)
      =keyword
      %br


#container
  - if params[:id] == 'demo'
    %h4.list-title Demo List
  - else
    %h4.list-title.user-list
      = params[:list_title] || "Click to change list title!"
  #new-todo
    %input{ type: 'text', id: 'new-todo-description', name: 'description', placeholder: "ex: Buy all the bacon"}
    %i.fa.fa-plus.todo-plus
  #all-todos
  %h1 TO-DO
  #incomplete-todos
  %h1 DONE
  #completed-todos

%script#todo-template{ type: :'text/template'}
  %span.description <%= description %>
  <%= !done ? "<i class='fa fa-check todo-check'></i>" : '' %>
  %span.todo-destroy.todo-options
    %i.fa.fa-times
  %span.todo-edit.todo-options
    %i.fa.fa-edit
